.posts-container {
    margin-top: 1.5rem;
    min-height: 100vh;
    max-width: 1200px;
    
    .posts-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2rem;
        color: #242424;
        text-align: left;
    }
    
    .posts-grid {
        width: 80vw;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        gap: 1.5rem;
    
        @media screen and (max-width: 640px) {
            width: 90vw;
        }
    }
}
