.post-detail {
    width: 80vw;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;

    @media screen and (max-width: 640px) {
        width: 90vw;
    }
}

.comments-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
