.delete-btn {
    border: none;
    cursor: pointer;
    color: #e11d48;
    background-color: transparent;

    &:hover:not(:disabled) {
        color: #f91f4e;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
